<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý nhân viên</title>
    <style>
        .trai{
            text-align: left;
        }
    </style>
</head>
<body style="text-align:center">
    <h1>Thêm nhân viên</h1>
    <form action="{%url 'them_nhan_vien' %}">
        <table align="center">
            <tr>
                <td class="trai">Họ tên</td>
                <td><input type="text" id="hoten" name="hoten"></td>
            </tr>
            <tr>
                <td class="trai">Chức vụ</td>
                <td><input type="text" id="chucvu" name="chucvu"></td>
            </tr>
            <tr>
                <td class="trai">Năm sinh</td>
                <td><input type="text" id="namsinh" name="namsinh"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="them" id="them" value="Lưu"></td>
            </tr>
        </table>
    </form>
</body>
</html>
